html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #d9d9d9;
  color: #0a0a0b;
  font-family: fantasy;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  marin: 0;
  padding: 20px;
}

li {
  display: inline;
}

img {
  max-width: 100%;
  height: auto;
}

.header-container {
  display: flex;
  padding-left: 5px;
  padding-right: 60px;
  background: #0a0a0b;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}


.filter {
  height: 60px;
  display: inline-block;
  border-radius: 40px;
  background: rgba(10,10,11,0.48);
  width: 205px;
  border: none;
}

.filter:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, rgb(117, 117, 117) 25%,
  rgb(96, 95, 95) 25%,
  rgb(96, 95, 95) 50%,
  rgb(117, 117, 117) 50%,
  rgb(117, 117, 117) 75%,
  rgb(96, 95, 95) 75%,
  rgb(96, 95, 95));
  background-size: 25px 25px;

}

.search {
  height: 60px;
  display: inline-block;
  border-radius: 40px;
  background: rgba(10,10,11,0.48);
  width: 500px;
  border: none;

}

.search:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, rgb(117, 117, 117) 25%,
  rgb(96, 95, 95) 25%,
  rgb(96, 95, 95) 50%,
  rgb(117, 117, 117) 50%,
  rgb(117, 117, 117) 75%,
  rgb(96, 95, 95) 75%,
  rgb(96, 95, 95));
  background-size: 25px 25px;

}

.block1 {
  max-height: 90%;
  top: 50%;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 22px;
  font-family: fantasy;
  transition: 0.4s;
  line-height: 40px;
  display: block;
  height: 50px;
  margin: 3px;
}


#searchboton {
  float: left;
  display: block;
  width: 50px;
  border: 1px solid blue;
  margin: 0px;
}

input::placeholder {
  color: #3b3b3b;
  font-family: fantasy;
}

.product-inner {
   width: 430px;
   height: 500px;
   margin: 10px;
   background: #ff6b02;
   border-color: black;
   text-align: center;
   border-bottom: 2px solid #ebebec;
   transition: .2s linear;
   border-radius: 40px;
   background: repeating-linear-gradient(45deg, #ffa761, #ffa761 10px, #D7DFED 10px, #D7DFED 20px);
   transition: color .3s, background .5s;
}
.product-inner:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, rgba(30, 255, 188, 1) 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgba(30, 255, 188, 1) 50%, rgba(30, 255, 188, 1) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
  background-size: 10px 10px;
  color: #FF50E5;
   border-color: #bca480;
   border-color: #f6d500;

}
.product-wrap {
   height: 350px;
   text-align: center;
   position: relative;
   overflow: hidden;
   margin-bottom: 10px;
}
.product-wrap img {
   display: block;
   width: 70%;
}
.actions {
   position: absolute;
   left: 0;
   bottom: -20%;
   width: 100%;
   background: rgba(59, 62, 67, 0.75);
   transition: .3s linear;
}
.product-inner:hover .actions {
   bottom: 0;
}
.actions a {
   text-decoration: none;
   float: left;
   width: 50%;
   color: white;
   padding: 15px 0;
   transition: .2s linear;
}
.actions a:hover {
   background: rgba(59, 62, 67, 0.85);
}
.actions a:before {
   font-family: "FontAwesome";
}
.add-to-cart:before {
   content: "\2714";
}
.wishlist:before {
   content: "\2764";
}
.nwishlist:before {
   content: " \1F5D1";
}
.product-info {
   padding-bottom: 10px;
   font-family: fantasy;
}
.product-title {
   margin: 0 0 0 0;
   word-break:break-all;
}
.product-title a {
   text-decoration: none;
   color: #1e1e1e;
   font-weight: 400;
   font-size: 16px;
   word-break:break-all;
}
.price {
   font-family: fantasy;
   color: rgba(0, 0, 0, 0.85);
}

.photo {
  width: 350px;
  height: 250px;
  display: block;
  margin: auto;
}
.add-botton{
  height: 60px;
  display: inline-block;
  border-radius: 40px;
  background: rgba(10,10,11,0.48);
  width: 205px;
  border: none;
}
.animated-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 15px 30px;
  overflow: hidden;
  border: 2px solid;
  border-bottom-width: 4px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(255, 124, 30);
  background: none;
  transition: color .3s, background .5s;
}
.animated-button:hover {
  animation: stripes .75s infinite linear;
  background: linear-gradient(45deg, rgba(30, 255, 188, 1) 25%,
                                     rgba(255, 255, 255, 1) 25%,
                                     rgba(255, 255, 255, 1) 50%,
                                     rgba(30, 255, 188, 1) 50%,
                                     rgba(30, 255, 188, 1) 75%,
                                     rgba(255, 255, 255, 1) 75%,
                                     rgba(255, 255, 255, 1));
  background-size: 10px 10px;
  color: #FF50E5;
}
@keyframes stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}
