{% extends "base.html" %}

{% block body %}
	<link rel="stylesheet" href="/static/css/cart.css">
	<h2>{{ title|upper }}</h2>

	{% for row in products %}
		<div class="product-inner">
			<div class="product-wrap">
				{% if row.image != None %}
                	<a><img src="/static/images/{{ row.image }}" class="photo"></a>
            	{% endif %}
				<div class="actions">
					<a href="/removeFromCart?productId={{row.id}}" class="nwishlist"></a>
					<a href="/addToFav?productId={{row.id}}" class="wishlist"></a>
				</div>
			</div>
			<div class="product-info">
				<p class="product-title">{{ row.name|upper }}</p>
            	<p class="product-title">Price: {{ row.price|float }}</p>
				<form method="post" action="/addToCart?productId={{row.id}}">
					<p class="product-title">Кол-во:
					<input style="width: 60px; text-align: center;" type="number" id='quan' class="block1" min="1" max="20" name="quan" value={{row.quantity}}>
					<button type="submit" id="btn" class="block1">Указать</button>
					</p>
				</form>
			</div>
		</div>
	{% endfor %}
	<hr id="seperator">
	<div id="total">
		<span id="subtotal">Subtotal</span> : ${{totalPrice}}
	</div>
	<a class="animated-button-a" href="/makeOrder">Сделать заказ</a>
{% endblock %}

{% block script %}
	<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="/static/js/cart.js"></script>
{% endblock %}