{% extends "base.html" %}

{% block body %}
	<link rel="stylesheet" href="static/css/products.css">
	<h2>{{ title|upper }}</h2>
	{% for product in products %}
        <div style="float:left;" onclick="location.href = '{{ url_for("get_product", product_id=product.id) }}'">
            <div class="product-inner">
                <div class="product-wrap">
                    {% if product.image != '' or None %}
                        <p><a><img src="/static/images/{{ product.image }}" class="photo"></a></p>
                    {% endif %}
                    <div class="actions">
                        <a href="/addToCart?productId={{product.id}}" class="add-to-cart"></a>
                        <a href="/removeFromFav?productId={{product.id}}" class="nwishlist"></a>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-title">{{ product.name|upper }}</h3>
                    <span class="product-title">{{ product.price }} ₽</span>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}