{% extends "base.html" %}

{% block body %}
    <p><a href='{{ url_for("products")}}'>Вернуться на главную страницу</a></p>
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}
    {% endfor %}
    <h1>{{ title|upper }}</h1>
    <form action="/login" method="post">
        <p><label>Email: </label> <input type="text" name="email" value="" required /></p>
        <p><label>Password: </label> <input type="password" name="psw" value="" required /></p>
        <p><input type="submit" value="Войти" /></p>
        <p><a href='{{ url_for("register")}}'>Регистрация</a></p>
    </form>
{% endblock %}