{% extends "base.html" %}

{% block body %}
    <link rel="stylesheet" href="static/css/reg.css">

    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="{{cat}}">{{msg}}</div>
    {% endfor %}

    <h2>{{ title|upper }}</h2>
    <form action="{{ url }}" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td><input type="text" placeholder="NAME" name="name" class="block1" value={{ product.name }}></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="PRICE" name="price" class="block1" value={{ product.price }}></td>
        </tr>
        <tr>
            <td><textarea type="text" placeholder="DESCRIPTION" style="width: 350px; height: 150px;" class="block1" name="description">{{ product.description }}</textarea></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="CATEGORY" name="category" class="block1" value={{ product.category }}></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="QUANTITY" name="quantity" class="block1" value={{ product.quantity }}></td>
        </tr>
         <tr>
             <td><input type="file" name="photo" class="block1" accept="static/*,image/jpeg"></td>
        </tr>
        <tr>
            <td><input type="submit" class="animated-button"></td>
        </tr>

    </table>
    </form>
{% endblock %}