{% extends "base.html" %}

{% block body %}
    <p><a href='{{ url_for("products")}}'>Вернуться на главную страницу</a></p>
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}
    {% endfor %}
    <h1>{{ title|upper }}</h1>
    <form action="{{ url }}" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td><input type="text" placeholder="NAME" name="name" value={{ product.name }}></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="PRICE" name="price" value={{ product.price }}></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="DESCRIPTION" name="description" value={{ product.description }}></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="CATEGORY" name="category" value={{ product.category }}></td>
        </tr>
        <tr>
            <td><input type="text" placeholder="QUANTITY" name="quantity" value={{ product.quantity }}></td>
        </tr>
         <tr>
             <td><input type="file" name="photo" accept="static/*,image/jpeg"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>

    </table>
    </form>
{% endblock %}