{% extends "base.html" %}

{% block body %}
<link rel="stylesheet" href="/static/css/products.css">

    <h1>{{ title|upper }}</h1>
    <div>
        <div class="search">
            <form method="post" id="upload-file">
                <select name="category" class="block1">
                    <option disabled>Категория</option>
                    {% for category in categories %}
                        {% if category == p_category %}
                            <option value={{category}} selected="selected">{{category}}</option>
                        {% else%}
                            <option value={{category}}>{{category}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                    <input type="text" class="block1" placeholder="search ..." name="name" value={{name}}>
                    <button type="submit" class="block1" id="btn">Поиск</button>
            </form>
        </div>
        <div class="filter">
            <form method="post">
                <tr>
                    <button type="submit" class="block1">Сбросить фильтры</button>
                </tr>
            </form>
        </div>
    </div>


    <div>
    {% for product in products %}
        <div style="float:left;" onclick="location.href = '{{ url_for("get_product", product_id=product.id) }}'">
            <div class="product-inner">
                <div class="product-wrap">
                    {% if product.image != '' or None %}
                        <p><a><img src="/static/images/{{ product.image }}" class="photo"></a></p>
                    {% endif %}
                    <div class="actions">
                        <a href="/addToCart?productId={{product.id}}" class="add-to-cart"></a>
                        <a href="/addToFav?productId={{product.id}}" class="wishlist"></a>
                    </div>
                </div>
                <div class="product-info">
                    <h3 class="product-title">{{ product.name|upper }}</h3>
                    <span class="price">{{ product.price }} ₽</span>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div>
    {% if role == 'admin' %}
        <br>
        <p><a href="{{ url_for('new_product') }}" class="animated-button">Добавить продукт</a></p>
    {% endif %}
    </div>
{% endblock %}

{% block script %}
	<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="/static/js/products.js"></script>
{% endblock %}