{% extends "base.html" %}

{% block body %}

    <h1>{{ title }}</h1>
    <div>
        <figure style="width:263px;">
            <p>{{ product.name|upper }}</p>
            <p>Price: {{ product.price|float }}</p>
            <p>Description: {{ product.description|upper }}</p>
            <p>Category: {{ product.category|upper }}</p>
        </figure>
        <a href="/addToCart?productId={{product.id}}">Купить</a>
        <a href="/removeProduct?productId={{product.id}}">Удалить</a>
        {% if not in_fav %}
            <a href="/addToFav?productId={{product.id}}">Добавить в избранное</a>
        {% else %}
            <p>Товар уже в избранном</p>
        {% endif %}
    </div>
{% endblock %}