{% extends "base.html" %}

{% block body %}
    {{url}}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Выйти</a>
        <a href="{{ url_for('profile') }}">Профиль</a>
    {% else %}
        <a href="{{ url_for('register') }}">Регистрация</a>
        <a href="{{ url_for('login') }}">Вход</a>
    {% endif %}

<br>
    <a href="{{ url_for('cart') }}">Корзина</a>
    <a href="{{ url_for('fav') }}">Избранное</a>

    <h1>{{ title|upper }}</h1>
    <form method="post">
        <tr>
            <td><input type="text" placeholder="category" name="category"></td>
        </tr>
        <tr>
            <button type="submit">Отсортировать</button>
        </tr>
    </form>
    {% for product in products %}
        <div style="float:left;" onclick="location.href = '{{ url_for("get_product", product_id=product.id) }}'">
            <figure style="width:263px;">
                <p>{{ product.name|upper }}</p>
                <p>{{ product.price|float }}</p>
                <p>{{ product.description|upper }}</p>
            </figure>
        </div>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <br>
        <a href="{{ url_for('new_product') }}">Добавить продукт</a>
    {% endif %}
{% endblock %}