{% extends "base.html" %}

{% block body %}
    <link rel="stylesheet" href="/static/css/cart.css">
    <div class="product-inner">
        <div class="product-info-a">
            <h2 class="product-title-a">{{ product.name|upper }}</h2>
        </div>
        <div class="product-wrap">
            {% if product.image != None %}
                <a><img src="/static/images/{{ product.image }}" class="photo"></a>
            {% endif %}
            <div class="actions">
            {% if role != None %}
                <a href="/addToCart?productId={{product.id}}" class="add-to-cart"></a>
                <a href="/addToFav?productId={{product.id}}" class="wishlist"></a>
            {% endif %}
            </div>
        </div>
        <div class="product-info">
            <p class="product-title">Price: {{ product.price|float }}</p>
            <p class="product-title">Category: {{ product.category|upper }}</p>
            <p style="font-size: 25px" class="product-title">Description: {{ product.description }}</p>
        </div>
    </div>
    {% if role == 'admin' %}
        <a href="/removeProduct?productId={{product.id}}" class="animated-button">Удалить</a>
        <a href="/redirectProduct?productId={{product.id}}" class="animated-button">Редактировать</a>
    {% endif %}
{% endblock %}