{% extends "base.html" %}

{% block body %}

    <link rel="stylesheet" href="static/css/profile.css">

    <h2>{{ title|upper }}</h2>

    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="{{cat}}">{{msg}}</div>
    {% endfor %}

    <br>
    <div>
        <figure>
            <h3>Email: {{ prof.email }}</h3>
            <h3>Role: {{ prof.role }}</h3>
            <div class="bot">
                <div>
                <a href="{{ url_for('redirectProfile') }}" class="animated-button">Редактировать профиль</a>
                </div>
                <div>
                <p><a href="{{ url_for('removeProfile') }}" class="animated-button">Удалить профиль</a></p>
                </div>
            </div>
            <br>
            <br>
            <h2>Заказы:</h2>
            <hr>
            {% for order in orders %}
                <div class="catalog_index">
                {% for product in order %}
                {% if product != [] %}
                    <div class = "info-a" onclick="location.href = '{{ url_for("get_product", product_id=product.id) }}'" >
                        <div class="info">
                            <p>{{ product.name|upper }}</p>
                            <p>{{ product.price|float }}</p>
                        </div>
                    </div>
                {% else %}
                    <p>Товар уже не актуален</p>
                {% endif %}
                {% endfor %}
                </div>
                <hr>
            {% endfor %}
        </figure>
    </div>

{% endblock %}