{% extends "base.html" %}

{% block body %}
    <link rel="stylesheet" href="static/css/reg.css">
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <h2>{{ title|upper }}</h2>
    <form method="post">
        <p><label>Email: </label> <input type="text" name="email" class="block1" value={{ prof.email }}></p>
        <p><label>Password: </label> <input type="password" name="psw" class="block1" value=""></p>
        <p><label>Repeat Password: </label> <input type="password" name="psw2" class="block1" value=""></p>
        <p><input type="submit" class="animated-button" value="Регистрация" /></p>
    </form>
{% endblock %}