{% extends "base.html" %}

{% block body %}
    <p><a href='{{ url_for("products")}}'>Вернуться на главную страницу</a></p>
    {{ super() }}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}
    {% endfor %}
    <h1>{{ title|upper }}</h1>
    <form method="post">
        <p><label>Email: </label> <input type="text" name="email" value={{ prof.email }} /></p>
        <p><label>Password: </label> <input type="password" name="psw" value="" /></p>
        <p><label>Repeat Password: </label> <input type="password" name="psw2" value="" /></p>
        <p><input type="submit" value="Регистрация" /></p>
    </form>
    </div>
{% endblock %}